<div class="row">
    <div class="col s12 m6">
        <h3 class="primary-font">Own it</h3>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt architecto maxime, exercitationem nemo aut voluptates odio similique dolores tenetur necessitatibus, sit tempora itaque? Assumenda officia natus dignissimos, corporis quam illo.
    </div>

    <div class="col s12 m6">
        <h3 class="primary-font">Want it</h3>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem sit accusantium obcaecati, nobis sapiente impedit aliquid, magnam quos non rerum ipsa alias voluptatum nostrum. Ipsum ut eveniet reprehenderit eius alias?
    </div>
</div>


