<li>
	  <div class="collapsible-header">
	<div class="row">
  
		<div class="col s12 m6">
		<b>{{name}}</b>	 
		</div>
		<div class="col s12 m6">
			<a class="change-sleep" data-id="{{id}}" data-newstatus="{{bought}}">
			{{#if bought}}<i class="material-icons">add</i>Need new{{else}}<i class="material-icons">check</i>Purchased{{/if}}
			</a>
		</div>
	</div>
</div>
    <div class="collapsible-body"><span>   
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio minus exercitationem recusandae nulla doloribus nam sapiente quisquam quas officia autem!
		</span></div>
</li>

